<h1><%= @post["last_name"] %>, <%= @post["first_name"] %></h1>

<ul>
  <li><%= @post["email"] %></li>
  <li><%= @post["phone_number"] %></li>
</ul>

<p><a href="/places/<%= @place["id"] %>">Back to <%= @place["name"] %></a></p>
